body {
  background-image: url("../img/background1.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.navbar-custom {
  background-color: #fff;
  border-radius: 0;
  top: 0;
  height: 120px; }

.navbar-custom .navbar-nav {
  margin-left: 100px; }

.navbar-custom .navbar-user {
  display: inline-block;
  margin-top: 28px;
  margin-left: 40%; }

.navbar-custom .navbar-brand,
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  font-weight: bold;
  font-family: cursive;
  margin-top: -20px; }

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  background: none;
  color: #0066CC;
  font-size: 25px; }

.navbar-custom .navbar-nav > li {
  padding-left: 80px;
  margin-top: 25px; }

.navbar-custom .navbar-nav > li > a {
  color: #9fa1a5;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 12px; }

#body {
  margin-top: 50px; }
  #body .jumbotron {
    background: #fff; }
    #body .jumbotron #h3-dk {
      color: #0066CC; }
    #body .jumbotron #uvod {
      margin-top: 25px;
      font-family: Georgia, Serif;
      font-size: 22px;
      color: #000000; }
  #body #pozovite {
    margin-left: 15%;
    margin-top: 5%; }
  #body #text {
    font-family: Georgia, Serif;
    text-align: center;
    font-size: 25px;
    font-style: oblique;
    margin-top: 5%; }
  #body #slike {
    margin-top: 50px;
    /* The Modal (background) */
    /* Modal Content */
    /* The Close Button */
    /* Next & previous buttons */
    /* Position the "next button" to the right */
    /* On hover, add a black background color with a little bit see-through */
    /* Number text (1/3 etc) */ }
    #body #slike .thumbnail {
      width: 100%;
      height: 100%;
      overflow: hidden; }
      #body #slike .thumbnail img:hover {
        transform: scale(1.3); }
      #body #slike .thumbnail #img-desc {
        font-family: Georgia, Serif;
        font-size: 18px;
        color: #000000; }
    #body #slike .row > .column {
      padding: 0 8px; }
    #body #slike .row:after {
      content: "";
      display: table;
      clear: both; }
    #body #slike .column {
      float: left;
      width: 25%; }
    #body #slike .modal {
      display: none;
      position: fixed;
      z-index: 1;
      padding-top: 100px;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: #000000; }
    #body #slike .modal-content {
      position: relative;
      background-color: #fefefe;
      margin: auto;
      padding: 0;
      width: 90%;
      max-width: 1200px; }
    #body #slike .close {
      color: #fff;
      position: absolute;
      top: 50px;
      right: 225px;
      font-size: 55px;
      font-weight: bold; }
    #body #slike .close:hover,
    #body #slike .close:focus {
      color: #fff;
      text-decoration: none;
      cursor: pointer; }
    #body #slike .mySlides {
      display: none; }
    #body #slike .prev,
    #body #slike .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -50px;
      color: #fff;
      font-weight: bold;
      font-size: 40px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
      -webkit-user-select: none; }
    #body #slike .next {
      right: 0;
      border-radius: 3px 0 0 3px; }
    #body #slike .prev:hover,
    #body #slike .next:hover {
      background-color: rgba(0, 0, 0, 0.8); }
    #body #slike .numbertext {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0; }

.glyphicon-collapse-up {
  margin: 700px 100px 0px 0px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 100;
  color: #000000;
  background-color: none;
  display: block;
  text-decoration: none;
  font-size: 60px;
  opacity: 0.7; }

#back-to-top:hover {
  cursor: pointer;
  text-decoration: none; }

.footer {
  background: #fff;
  margin-top: 20px;
  bottom: 0;
  position: relative;
  height: 100px; }
  .footer .footer_section1 #copyright {
    font-weight: bold;
    font-size: 17px;
    color: #0066CC;
    text-align: center;
    margin-top: 3.5%;
    margin-right: 5%; }
