@import 'home';

.container{
  .jumbotron{
    .row{
      #kontakt{
        color: #0066CC;
        text-align: center;
        margin-top: 100px;
      }
      #tel{
        color: #0066CC;
        font-size: 22px;
        text-align: center;
      }
      #radnov{
        color: #0066CC;
        text-align: center;
        margin-top: 50px;
      }
    }
  }
}
